* {
  font-family: 'Karla', sans-serif;
  padding: .5%;
}

.container {
  width: 100%;
}

span {
  font-size: 1.3em;
}


.header h1 {
  /*text-align: center;*/
/*  padding-top: 2%;
*/  font-size: 3.3em;
    display: none;
}

/*form h2 {
  text-align: center;
  color: black;
  font-size: 2em;


/*select {

}*/

form {
  margin: 0 auto;
  color: dimgray;
  display: inline-block;
  /*padding-left: 35%;*/
  width: 40px;
  padding-top: 15%;
}

#googleMap {
/*  margin-top: 2% !important;
*/  margin: 0 auto;
  width: 100%;
  height: 280px;
  margin-bottom: 2% !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, .7);

}

  #table {
    margin-top: 5%;
    display: table;
    width: 100%; 
    background: #fff;
    margin: 0;
    box-sizing: border-box;

   }

   .caption {
    display: block;
    width: 100%;
    background: dimgray;
    height: 75px;
    padding-left: 10px;
    margin-bottom: 2%;
    color: #fff;
    font-size: 2.5em;
    line-height: 55px;
    text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;

   }


   .header-row {
    background: #8b8b8b;
    color: #fff;
   }

  .row {
    display: table-row;
  }

  .cell {
    display: table-cell;
    padding: 6px; 
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
  }

  .primary {
    text-align: left;
  }


  input[type="radio"],
  input[type="checkbox"]{
    display: none;
  }


  @media only screen and (max-width: 760px)  {



    /*body {
      padding: 0;
    }*/

    form {
      padding-right: 70% !important;
    }


    #table {
      display: block;
      padding-left:4%;
      margin: 44px 0 0 0;
    }

    .caption {
      position: fixed;
      top: 0;
      text-align: center;
      width: 100%;
      height: 50px;
      line-height: 44px;
      z-index: 5;
    }

    .row { 
      position: relative;
      display: block;
      border-bottom: 1px solid #ccc; 

    }

    #googleMap {
      width: 100%;
      height: 210px;
      margin-top: 15% !important;
    }

    .header-row {
      display: none;
    }
    
    .cell { 
      display: block;
      border: none;
      position: relative;
      height: 45px;
      line-height: 45px;
      text-align: left;
    }

    .primary:after {
      content: "";
      display: block;
      position: absolute;
      right:20px;
      top:18px;
      z-index: 2;
      width: 0; 
      height: 0; 
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent; 
      border-right:10px solid #ccc;

    }

    .cell:nth-of-type(n+2) { 
      display: none; 
    }


    input[type="radio"],
    input[type="checkbox"] {
      display: block;
      position: absolute;
      z-index: 1;
      width: 99%;
      height: 100%;
      opacity: 0;
    }

    input[type="radio"]:checked ~ .cell,
    input[type="checkbox"]:checked ~ .cell {
      display: block;

      border-bottom: 1px solid #eee; 
    }

    input[type="radio"]:checked ~ .cell:nth-of-type(n+2),
    input[type="checkbox"]:checked ~ .cell:nth-of-type(n+2) {
      
      background: #fafafa;
    }

    input[type="radio"]:checked ~ .cell:nth-of-type(n+2):before,
    input[type="checkbox"]:checked ~ .cell:nth-of-type(n+2):before {
      content: attr(data-label);

      display: inline-block;
      width: 60px;
      background: #999;
      border-radius: 10px;
      height: 20px;
      margin-right: 10px;
      font-size: 12px;
      line-height: 20px;
      text-align: center;
      color: white;

    }

    input[type="radio"]:checked ~ .primary,
    input[type="checkbox"]:checked ~ .primary  {
      border-bottom: 2px solid #999;
    }

    input[type="radio"]:checked ~ .primary:after,
    input[type="checkbox"]:checked ~ .primary:after {
      position: absolute;
      right:18px;
      top:22px;
      border-right: 10px solid transparent;
      border-left: 10px solid transparent; 
      border-top:10px solid #ccc;
      z-index: 2;
    }
  }

    @media only screen and (max-width: 1024px)  {
      #googleMap {
      margin-top: 5%;
      width: 100%;
    }

}
