*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  resize:none;
}

@media only screen and (max-width: 760px)  {

* {
  font-family: 'Lato', sans-serif;
}

.biohead {
    float: left;
    width: 100%;
    text-align: center;
    height: 100px;
    padding-bottom: 1%;
    color: dimgray;
    font-size: 2.5em;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
}
.biohead img {
  height: 50px;
  border-radius: 39px;
  width: 50px;
  margin-top: 25px;
  float: left;
  margin-left: 5px;
}

.biohead h1 {
  width: 80%;
  float: left;
  margin-top: 25px; 
}

.sale {
  background: whitesmoke;
  height: 130px;
  box-sizing: border-box;
  position: fixed;
  margin-top: 100px;
  text-align: center;
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);

}

.sale p:first-child {
  padding-top: 2.5%;
  color: dimgray;
}

.sale p {
  color: dimgray;
  padding-top: .5%;
  font-size: 1.1em;
}

.catch {
  margin-top: 250px !important;
  margin: 0 auto;
  padding: 1%;
  width: 100%;
  clear: both;
}

.catch h4 {
  padding-top: 5%;
}

form {
  padding-top: 3%;
  float: left;
  padding-left: 1%;
}

.add img {
  width: 40px;
  height: 40px;
}

.add a {
  color: dimgray !important;
  text-decoration: none;
  font-size: 1.1em;
}
.upload {
  text-align: center;
  padding-top: 15%;
}
.upload a {
  text-decoration: none;
  font-size: 2em;
  color: dimgray !important;
}
}

@media only screen and (min-width: 761px)  {

  * {
  font-family: 'Lato', sans-serif;
/*  padding: .5%;
*/}

.biohead {
    display: block;
    width: 100%;
    height: 75px;
    padding-bottom: 5%;
    color: #fff;
    font-size: 2.5em;
    line-height: 55px;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

.biohead h1 {
  float: left;
  width: 85%;
  text-align: center;
  color: dimgray;
}

.sale {
  background: whitesmoke;
  clear: both;
  height: 130px;
  box-sizing: border-box;
  position: fixed;
  margin-top: 73px;
  text-align: center;
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);

}

.sale p:first-child {
  padding-top: 2.5%;
  color: dimgray;
}

.sale p {
  color: dimgray;
  padding-top: .5%;
  font-size: 1.3em;
}

.catch {
  margin-top: 200px !important;
  padding: 1%;
  /*background: !important;*/
  width: 100%;
  clear: both;
}

form {
  padding-top: 3%;
  float: left;
  padding-left: 1%;
}

.add img {
  width: 75px;
  height: 60px;
  padding-left: 2%;
}

.add a {
  color: dimgray !important;
  text-decoration: none;
  font-size: 1.1em;
}
.upload {
  text-align: center;
  padding-top: 15%;
}
.upload a {
  text-decoration: none;
  font-size: 2.5em;
  color: dimgray !important;
}
}


