*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: scroll;
  resize:none;
}

@media only screen and (max-width: 760px)  {

* {
  font-family: 'Lato', sans-serif;
  padding: .5%;
}

.biohead {
    display: block;
    float: right;
    width: 100%;
    background: dimgray;
    height: 75px;
/*  padding-left: 10px;
*/  padding-bottom: 2%;
    color: #fff;
    font-size: 2.5em;
    line-height: 55px;
    text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
}

.biohead h1 {
  float: right;
  width: 80%;
}

.biohead img {
  height: 65px;
  padding-top: 10px;
  float: left;
  width: 17%;
  border-radius: 5%;
}

.sale {
  background: #969696;
  clear: both;
  height: 80px;
  box-sizing: border-box;
  position: fixed;
  margin-top: 73px;
  text-align: center;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, .7);

}

.sale p:first-child {
  padding-top: 2.5%;
  color: white;
}

.sale p {
  color: white;
  padding-top: .5%;
  font-size: 1.1em;
}

.catch {
  margin-top: 140px !important;
  padding: 1%;
  background: lightgrey !important;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, .4);
  clear: both;
}

.catch h4 {
  padding-top: 5%;
}

form {
  padding-top: 3%;
  float: left;
  padding-left: 1%;
}

/*.add img {
  width: 30px;
  height: 30px;
}*/


}