

table {
  margin-top: 20px;
  vertical-align: middle;
  text-align: center;
  width: 99%;
}

th {
  padding: 2.2%;
  text-align: center;
}

td {
  padding: 2.2%;
  }

  @media only screen and (min-width: 761px)  {
    table {
      width: 50%;
      padding: -4% !important;
      }

      .sale {
        background: white;
        box-shadow: none;
      }

      .biohead {
        background-color: whitesmoke;
      }