
  body {
    background-repeat: no-repeat; 
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
    height: 100%;
  }

  button {
    border-radius: 10%;
    background: lightseagreen;
    border-color: white;
    height: 40px;
    width: 40px;
    color: white !important;
    margin-left: 3%;
  }

  .header {
    text-align: center;
    }

    .header p {
      color: white;
    }

  .freshr h1 {
      color: white;
      padding-top: 10%;
      text-align: center;
      font-size: 4em;
    }

    input {
      border-color: white;
      color: dimgray;
    }

@media only screen and (min-width: 980px)  {
    body {
      background-repeat: no-repeat; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
   }

@media only screen and (max-width: 520px)  {
  .freshr h1 {
    padding-top: 30%;
  }
}
